body{
    font-family: 'Roboto', Times, serif; 
}

h1{
    text-align: center;
}

.calculator-container{
    border: 2px solid #d3d3d3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: fit-content;
    border-radius: 10px;
    margin: auto;
    gap: 20px;
    background-color: #454545;
    color: #FAF9F6;
}

.result-display{
    border: 2px solid #d3d3d3;
    display: flex;
    width: 325px;
    height: 80px;
    border-radius: 10px;
    padding: 20px 10px;
    font-size: 30px;
    letter-spacing: 2px;
    align-items: flex-end;
    justify-content: flex-end;
}

.buttons{
    width: 350px;
    display: flex;
    gap: 5px;
}

.num_buttons{
    display: flex;
    width: 175px;
    flex-wrap: wrap;
    align-content:flex-start;
    gap: 5px;
}

.num, .extra, .decimal{
    background-color:#d3d3d3;
}

.operator_buttons{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.operator{
    background-color: #FFFF00;
}

.extra_buttons{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 5px;
}

.extra_buttons .extra {
    width: 100%;
}

.grow{
    flex-grow: 1;
}

.btn{
   width: 55px;
   height: 55px;
   border-radius: 10px; 
   font-size: 20px;
}


