body{
    font-family: 'Roboto', Times, serif;
    background-color: #545655;
}

h1, footer{
    text-align: center;
    color: #FAF9F6;
}

h1{
    font-size: 50px;
}

footer{
    margin-top: 80px;
}

.calculator-container{
    /* border: 2px solid #d3d3d3; */
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: fit-content;
    border-radius: 10px;
    margin: auto;
    gap: 20px;
    background-color: #454545;
    color: #FAF9F6;
}

.result-display{
    display: flex;
    box-shadow: 0 0 5px black;
    width: 325px;
    height: 80px;
    border-radius: 10px;
    padding: 20px 10px;
    font-size: 30px;
    letter-spacing: 2px;
    align-items: flex-end;
    justify-content: flex-end;
}

.buttons{
    width: 350px;
    display: flex;
    gap: 5px;
}

.num_buttons{
    display: flex;
    width: 175px;
    flex-wrap: wrap;
    align-content:flex-start;
    gap: 5px;
}

.num, .decimal{
    background-color:#d3d3d3;
}

.extra{
    background-color: #8d908e;
}

.operator_buttons{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.operator{
    background-color: #FFFF00;
}

.extra_buttons{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 5px;
}

.extra_buttons .extra {
    width: 100%;
}

.grow{
    flex-grow: 1;
}

.btn{
   width: 55px;
   height: 55px;
   border-radius: 10px; 
   font-size: 20px;
   border: none;
   box-shadow: 0 0 3px black;
}

.btn:hover{
    opacity: 0.5;
    cursor: pointer;
}

.btn:active{
    transform: scale(.9);
    box-shadow: 0 3px 15px -2px;
}


