body{
    font-family: 'Roboto', Times, serif; 
}

h1{
    text-align: center;
}

.calculator-container{
    border: 2px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: fit-content;
    border-radius: 10px;
    margin: auto;
    gap: 20px;
}

.result-display{
    border: 2px solid #000000;
    width: 350px;
    height: 100px;
    border-radius: 10px;
}

.buttons{
    width: 350px;
    display: flex;
    gap: 2px;
}

.num_buttons{
    display: flex;
    width: 175px;
    flex-wrap: wrap;
    align-content:flex-start;
    gap: 5px;
}

.operator_buttons{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.extra_buttons{
    display:flex;
    flex-grow: 1;
}



.grow{
    flex-grow: 1;
}

.btn{
   width: 55px;
   height: 55px;
   border-radius: 5px; 
}


